.sectret{

}


@import url('https://fonts.googleapis.com/css2?family=Borel&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto',sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: #ccc;
}
main{
    min-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    background: #fff;
    padding: 2rem;

}

section{
    width: 950px;
    margin: 0 auto;
   
}
h1 ,section,article{
    margin-bottom: 1rem;
}

#botoes{
    display: inline-block;
    margin-bottom: 1rem;

}
/* butoes */
 button{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.625rem;
    cursor: pointer;
     }
 /* botao btlight */
 #btlight {
     background: #ededed;
     color: #121212;
 }
 #btdark{
     background: #263238;
     color: #fff;
 }
 .box{
    padding: 0.625rem;
    border-radius: 8px;
 }
 .light{
   
    background: #fff;
    color: #191919;
 }
 .dark{
    background:#222;
    color: #fff;
 }
 .azul{
     background: #1a237e;
    color: #fff;
 }
 .amarelo{
   background: #ffc107;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid blue;
 }